{% extends 'base.html.twig' %}

{% block title %}Listes des stagiaires {% endblock %}

{% block body %}
    {# Pour changer la couleur de la navbar et montrer sur quel page je suis #}
    <style>
        .homeNav, .sesionNav, .categoryNav{color : black;}
        .internNav{color: #006eff;}
    </style>
    <h3>Liste des stagiaires : </h3>
    <button><a href="{{path('new_intern')}}"> Créer un stagiaire</a></button>

    <table class="table table-stripped">
        <tbody>
            {% if interns |length >= 1 %}
                {% for intern in interns %}
                    <tr>
                        <td><a href="{{path('detail_intern', {'id': intern.id})}}">{{intern.name}}  {{intern.forname}} </a></td>
                        <td><a href="{{path('edit_intern', {'id':intern.id})}}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="{{path('delete_intern', {'id':intern.id})}}"> <i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>Aucun stagiaires</td>
                </tr>
            {% endif %}

        </tbody>
    </table>

{% endblock %}
