{% extends 'base.html.twig' %}

{% block title %}Listes des stagiaires {% endblock %}

{% block body %}
    {# Pour changer la couleur de la navbar et montrer sur quel page je suis #}
    <style>
        .homeNav, .sesionNav, .categoryNav{color : black;}
        .internNav{color: #006eff;}
    </style>
    <h3>Liste des stagiaires : </h3>
    <button type="button" class="btn btn-outline-dark"><a href="{{path('new_intern')}}" class="black"> Créer un stagiaire</a></button>
    <br><br>
    {% if interns |length >= 1 %}
        <table class="table table-stripped">
            <thead>
                <tr class="table-primary">
                    <th>Prénom nom</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for intern in interns %}
                    <tr>
                        <td><a href="{{path('detail_intern', {'id': intern.id})}}" class="black">{{intern.name}}  {{intern.forname}} </a></td>
                        <td><a href="{{path('edit_intern', {'id':intern.id})}}" class="black"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="{{path('delete_intern', {'id':intern.id})}}" class="black"> <i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun stagiaire !</p>
    {% endif %}

{% endblock %}
