{% extends 'base.html.twig' %}

{% block title %}Liste de {{category}} : {% endblock %}

{% block body %}
    {# Pour changer la couleur de la navbar et montrer sur quel page je suis #}
    <style>
        .homeNav, .sesionNav, .internNav, .categoryNav{color : black;}
    </style>
    <h3>Liste de {{category}} :</h3>
    <button type="button" class="btn btn-outline-dark"><a href="{{ path('new_course', {'idCategory': category.id}) }}" class="black">Créer un module</a></button>
    <br><br>
    <table class="table table-striped">
        <thead>
            <tr class="table-primary">
                <th>Nom du module</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% if courses |length >= 1 %}
                {% for course in courses %}
                    <tr>
                        <td> {{course}} </td>
                        <td> <a href="{{ path('edit_course', {'course': course.id}) }}" > <i class="fa-solid fa-pen-to-square black"></i></a></td>
                        <td> <a href="{{ path('delete_course', {'id': course.id}) }}" class="black"><i class="fa-solid fa-trash"></i></a> </td>
                    </tr>
                {% endfor %}
            {% else  %}
                <tr><td>Aucun module </td></tr>
            {% endif %}     
        </tbody>
    </table>   

{% endblock %}