{% extends 'base.html.twig' %}

{% block title %}liste des catégories : {% endblock %}

{% block body %}
    {# Pour changer la couleur de la navbar et montrer sur quel page je suis #}
    <style>
        .homeNav, .sesionNav, .internNav, .courseNav{color : black;}
        .categoryNav{color: #006eff;}
    </style>

    <a href="{{ path('new_category') }}"><button>Créer une catégorie</button></a>

    {% if categories == null %}
        <p>Aucune catégorie</p>
    {% else  %}
        <table class="table table-striped">
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td> <a href="{{ path('detail_category', {'id': category.id}) }}" class="black">{{category}} </a></td>
                        <td> <a href="{{ path('edit_category', {'id': category.id}) }}" class="black"> <i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td> <a href="{{ path('delete_category', {'id': category.id}) }}" class="black"><i class="fa-solid fa-trash"></i></a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>   
    {% endif %}     

{% endblock %}
