{% extends 'base.html.twig' %}

{% block title %}{{session.nameSession}} {% endblock %}

{% block body %}
    {# Pour changer la couleur de la navbar et montrer sur quel page je suis #}
    <style>
        .homeNav, .internNav, .categoryNav, .sesionNav{color : black;}
    </style>
    <h3>{{session.nameSession}} : </h3>

    <table class="table table-stripped">
        <thead>
            {# La tete du tableau sera en deux ligne afin de gagner de la pace pour le nombre de place de la session #}
            <tr class="table-primary">
                <th rowspan="2">Intitulé</th>
                <th rowspan="2">Date de début</th>
                <th rowspan="2">Date de fin</th>
                <th rowspan="2">Formateur</th>
                <th colspan="2">Nombre de place</th>
                <th colspan="2">Nombre de stagiaires</th>
            </tr>
            <tr class="table-primary">
                <th>Totale</th>
                <th>Libre</th>
                <th>Inscrits</th>
                <th>Non Inscrits</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{session.nameSession}} </td>
                <td>{{session.beginSession | date("d / m / Y")}}</td>
                <td>{{session.finishSession| date("d / m / Y")}}</td>
                <td>Pas encore créer de user</td>
                {# <td>{{session.user}}</td> #}
                <td>{{session.nbPlace}}</td>
                <td>{{session.restant}}</td>
                <td>{{session.inscrit}}</td>
                <td>{{nbInterns - session.inscrit}} </td>
            </tr>
        </tbody>
    </table>
    <br>

    <h3>Liste des stagiaires inscrit :</h3>
    <button type="button" class="btn btn-outline-dark">
        <a href="{{path('new_intern_session', {'idSession' : session.id})}}" class="black">Ajouter un stagiaire</a>
    </button>
    {% if session.interns | length >=1 %}
        <table class="table table-stripped">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Nom Prénom</th>
                    <th scope="col">Désincrire</th>
                </tr>
            </thead>
            <tbody>
                {% for intern in session.interns %}
                <tr>
                    <td><a href="{{path('detail_intern', {'id':intern.id})}}" class="black">{{intern.names}}</a></td>
                    <td><a href="{{path('remove_intern', {'idIntern':intern.id, 'idSession': session.id})}}" class="black">Désinscrire</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
        {% else %} 
        <p>Aucun stagiaire inscrit!</p> 
        {% endif %}
    <br>
    <h3>Liste des modules : </h3>
    <button type="button" class="btn btn-outline-dark">Ajouter un module</button>
    {% if session.programs | length >=1 %}
        <table class="table table-stripped">
            <thead>
                <tr class="table-primary">
                    <th>Module</th>
                    <th>Duréee</th>
                    <th>Catégorie</th>
                    <th>Supprimé</th>
                </tr>
            </thead>
            <tbody>
                {% for program in session.programs %}
                    <tr>
                        <td>{{program.course.nameCourse}}</td>
                        <td>{{program.nbDay}} jours</td>
                        <td>{{program.course.category.nameCategory}}</td>
                        <td><i class="fa-solid fa-trash"></i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Aucun module</p>
        {% endif %}

{% endblock %}
