{% extends 'base.html.twig' %}

{% block title %}Liste des sessions {% endblock %}

{% block body %}
    {# Pour changer la couleur de la navbar et montrer sur quel page je suis #}
    <style>
        .homeNav, .internNav, .categoryNav{color : black;}
        .sesionNav{color: #006eff;}
    </style>
    <h3>Liste des sessions : </h3>
    <button type="button" class="btn btn-outline-dark"><a href="{{path('new_session')}}" class="black">Créer une session</a></button>
    <br><br>
    <table class="table table-stripped">
        <thead>
            <tr class="table-primary">
                <th scope="col">Intitulé Session</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Edit</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% if sessions |length >=1 %}
                {% for session in sessions %}
                    <tr>
                        <td> <a href="{{path('detail_session', {'id' : session.id})}}" class="black">{{session.nameSession}}</a> </td>
                        <td>{{session.beginSession | date("d / m / Y")}}</td>
                        <td>{{session.finishSession| date("d / m / Y")}}</td>
                        <td> <a href="{{ path('edit_session', {'id': session.id}) }}" class="black"> <i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td> <a href="{{ path('delete_session', {'id': session.id}) }}" class="black"><i class="fa-solid fa-trash"></i></a> </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>Aucune session</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
